<!DOCTYPE html>
<html>

<head>
    <title>Homework 3</title>


</head>

<body>

    <div id="addApplication">
        <h1>Enter Application</h1>
        <input type="text" id="appName" placeholder="Name for application">
        <input type="text" id="address" placeholder="Address for application">
        <input type="text" id="zipCode" placeholder="Enter zipcode"><br>
        <input type="number" id="creditScore" placeholder="Enter credit score">
        <input type="number" id="annualIncome" placeholder="Enter income">

        <button onclick="addApp()">Submit</button>
    </div>

        <div id="appList"> 
            <!--App data will be displayed here-->
        </div>

    <div id="processApplication">
        <h1>Process an Application</h1>
        <label for="idToProcess">Enter ID:</label><br>
        <input type="text" id="idToProcess" placeholder="Enter ID">
        <button onclick="processApplication()">Process</button>
    </div>

    <div id="checkTheStatus">
        <h1>Check Status and Display Notes</h1>
        <input type="text" id="checkStatus" placeholder="Enter app. Number">
        <button onclick="displayStatus()">Enter</button>
    </div>

        <div id="showStatus">
            <!--The status of an application will be shown here-->
        </div>

        <div id="statusFailed">

        </div>

    <div id="changeStatus">
        <h1>Change Status and Add Note</h1>
        <label for="appNumToUpdate">Enter an application number to update:</label><br>
        <input type="text" id="appNumToUpdate" placeholder="Enter number"><br>
        <!--input type="text" id="newStatus" placeholder="Please enter the new status"-->

        <label for="newStatus">Choose a new status and add a note:</label><br>
        <select name="newStatus" id="newStatus">
            <option value="" disabled selected>Select the status</option>
            <option value="Not Found">Not Found</option>
            <option value="Received" >Received</option>
            <option value="Processing" >Processing</option>
            <option value="Accepted">Accepted</option>
            <option value="Rejected">Rejected</option>
        </select>

        <input type="text" id="subPhase" placeholder="Add a Subphase"><br>

        <input type="text" id="statusNote" placeholder="Add a note"><br>

        <button onclick="updateStatus()">Update</button>
    </div>
        <div id="showNewStatus">
            <!--The new status will be displayed here-->
        </div>

        <div id="cantShowNewStatus">
            
        </div>
    

        <script src="/static/script.js" defer></script>
</body>
</html>